.gamePad {
  padding: 0 2rem;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .dropDicesBtn,
  .pickCard {
    background-color: rgb(103, 77, 234);
    color: black;
    font-weight: bold;
    padding: 10px;
  }
}
